@page "/not-authorized"
@namespace Chaos.Shared
@inject NavigationManager navigationManager

<h1>You are not authorized to view that content.</h1>
<br />
<button class="btn btn-primary" type="button" @onclick="@(() => navigationManager.NavigateTo("/"))">Home</button>
