// Styling for MainLayout.razor.

html, body {
    font-family: $font-primary;
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
    
    .sidebar {
        background-image: linear-gradient(180deg, $sea-green 0%, $algae-green 70%);
        height: 100vh;
    } 
}